<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/nav")%>
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <h1>Nouvel album</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method="POST" action="/albums/create">
            <div class="form-group">
              <label>Title</label>
              <input
                class="form-control"
                type="text"
                name="albumTitle"
                placeholder="Title"
                autofocus
              />
            </div>
            <div class="alert alert-danger mt-4 mb-2" role="alert">ERREUR</div>
            <button type="submit" class="btn btn-primary mt-4">Creer</button>
          </form>
        </div>
      </div>
    </div>

    <%- include("partials/scripts")%>
  </body>
</html>
